@model _1911062442_LeTanHuy_BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>I'm Going'</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcomingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM/dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        Name: @course.Lecturer.Name
                    </span>
                    <span class="category">
                        || Category: @course.Category.Name
                    </span>
                    <div class="Place">
                        Place: @course.Place
                    </div>
                </div>

            </li>
        }

    </ul>
</div>

@section scripts{
    <script>
        $(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { CourseId: button.attr("data-course-id") }).done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                }).fail(function () {
                    alert("Something failed");
                });
            });


            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { FolloweeId: button.attr("data-user-id") }).done(function () {
                    button
                        .text("Following");
                }).fail(function () {
                    alert("Something failed");
                });
            });
        });
    </script>
}
